<mat-toolbar color="primary">
  <mat-icon>local_cafe</mat-icon>
  <span>CoffeeTime</span>
</mat-toolbar>

<mat-card *ngIf="joke">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image">

    <mat-card-title>Küche</mat-card-title>
    <mat-card-subtitle>Gefüllt</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    {{joke.value}}
    <br>
    <p>Push</p>
    <section class="push">
      <p>
        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
          wenn frei
        </mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
          Empfehlungen
        </mat-slide-toggle>
      </p>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">more_horiz</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
<!--

  mat-tooolbar
    (mat-button) mat-icon + mat-label
  /mat-toolbar

  mat-card
    mat-card-header
      mat-icon + mat-label
    /header

    mat-card-content
      chart-component
      /chart

      mat-label + switch

    /content

    mat-card-footer
      mat-toggle-button + mat-icon-without-outline
    /footer

  /mat-card









-->