<app-frame [label]="room ? room.name : ''" (back)="gotoRooms()">
  <mat-icon icon aria-label="Küche" *ngIf="room && room.type === 'kitchen'">local_cafe</mat-icon>
  <mat-icon icon aria-label="Sitzecke" *ngIf="room && room.type === 'area'">meeting_room</mat-icon>
  <mat-icon icon aria-label="Sitzecke" *ngIf="!room || room.type !== 'area' && room.type !== 'kitchen'">trip_origin</mat-icon>
  <div content class="room-detail-content" *ngIf="room">
    <app-chart [data]="data" type="Line" [options]="options" [responsiveOptions]="responsiveOptions"></app-chart>
    <mat-divider></mat-divider>
    <div class="content-group">
      <div class="content-row">
        <mat-icon>timer</mat-icon>
        <span>durchschnittliche Wartezeit</span>
      </div>
      <div class="content-row">
        <span>{{room.averageWaitingTime | averageWaitingTime }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content-group">
      <div class="content-row">
        <mat-icon>group</mat-icon>
        <span>durchschnittliche Belegung</span>
      </div>
      <div class="content-row">
        <span>{{room.averageOccupancy | averageOccupancy }}</span>
      </div>
    </div>
  </div>
</app-frame>
