<app-frame label="CoffeeTime">
  <mat-icon icon>local_cafe</mat-icon>
  <div content class="room-list">
    <mat-progress-bar mode="query" *ngIf="waitForloading"></mat-progress-bar>
    <div class="dummy-card" *ngIf="waitForloading">
      <mat-card></mat-card>
    </div>
    <mat-expansion-panel class="mat-elevation-z" expanded=true *ngIf="hasFavoriteRooms()">
      <app-room [room]=room *ngFor="let room of favoriteRooms"></app-room>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="hasRooms()" [expanded]="expanded" (opened)="expanded = true" (closed)="expanded = false"
      [ngClass]="{'mat-elevation-z': expanded}">
      <mat-expansion-panel-header *ngIf="hasFavoriteRooms()">
        <mat-panel-title>
          weitere Orte
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-room [room]=room *ngFor="let room of rooms"></app-room>
    </mat-expansion-panel>
    <div class="version">{{version}}</div>
  </div>
</app-frame>
