:host {
  height: 100%;
}

app-room ::ng-deep {
  mat-card {
    margin-bottom: 20px;
  }
}

app-room:last-child ::ng-deep {
  mat-card {
    margin-bottom: 0;
  }
}

.room-list {
  min-height: calc(100% - 24px);
  padding-bottom: 24px;
  position: relative;

  mat-expansion-panel ::ng-deep {
    .mat-expansion-panel-body {
      padding: 20px 24px;
    }
  }

  .dummy-card {
    padding: 20px 24px;

    mat-card {
      height: 346px;
    }
  }
}

.version {
  bottom: 0;
  display: flex;
  font-size: .7rem;
  font-weight: 300;
  justify-content: center;
  opacity: .7;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}
