mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.toolbar-label {
  margin-left: 10px;
}

.content {
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  width: 100%;
}

@media (max-width: 599px) {
  .content {
    height: calc(100% - 56px);
    top: 56px;
  }
}
